extends layout

block content
	div(id="chat-left")
		div(id="chatting-user")
			ul
				li
					span(class="chat-user-name") Live-Chat
					img(class="gravatar", src="https://avatars3.githubusercontent.com/u/6168796?v=3&amp;s=48")
		div(id="chatting-panel")
			div.chatting-panel-header
				h2(id="chat-person") Live-Chat
			div.chatting-panel-main
				div(class="chat-body", id="chat-panel")
						ul(id="chat-list")
			div.chatting-panel-footer
				div.chat-toolbar
					input(id="chat-input", type="text",placeholder="请输入聊天内容") 
					button(type="button") Send

	div#chat-right
		div(class="chat-list")
			div.user-list
				div.user-list-header
					h2 Chats
				div.user-list-main
					ul(id="live-user")
				div.user-list-footer
					p 在线人数 
						span(id="live-number")

	div.chat-list
		div.user-name
			div
				div
					span 个人信息
				div
					if user
						img(id="gravatar" class="gravatar", src= user.head)
						span(id="my-name")= user.name
					else
						span(id="my-name")


